<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if(orders.length <= 0) { %>
                <h1>No Orders there!</h1>
            <% } else { %>
                <ul>
                    <% for(var order of orders) { %>
                    <li>
                        <%= order.id %>
                        <ul>
                            <% order.products.forEach (item => { %>
                                <li>
                                    <%= item.title %> ( <%= item.orderItem.quantity %> )
                                </li>
                            <% }); %>
                        </ul>
                    </li>
                    <% } %>    
                </ul>
            <% } %>    
        </main>
        <%- include('../includes/end.ejs') %>